bg {
	display: block;
	position: relative;
	z-index: -99999;
	width: 400px;
	height: 400px;
	background: #aaa;
	overflow: hidden;
}

face {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: right;
	top: -20px;
	right: 20px;
	width: 350px;
	height: 400px;
	border-radius: 250px 150px 400px 320px/400px 150px 450px 350px;
	border: solid 1px #180D00;
	background: #FFEDDC;
}

hairleftbg {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -35px;
	left: -115px;
	z-index: -1;
	width: 300px;
	height: 300px;
	transform: rotate(50deg) skew(28deg, 28deg);
	border-radius: 0px 200px 20px 200px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}

hairleft1 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -5px;
	left: 30px;
	z-index: 3;
	width: 50px;
	height: 80px;
	transform: rotate(55deg) skew(35deg, 30deg);
	border-radius: 20px 20px 10px 20px;
	border: solid 1px #180D00;
	border-top: none;
	border-left: none;
	background: #E9BB8D;
}

hairleft2 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -215px;
	left: 0px;
	z-index: 3;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: none;
	box-shadow: inset -200px 10px 0 -170px #E9BB8D;
	background: transparent;
	transform: rotate(200deg);
}

hairleftshadow {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 5px;
	left: -95px;
	z-index: -1;
	width: 300px;
	height: 300px;
	transform: rotate(50deg) skew(28deg, 28deg);
	border-radius: 0px 200px 20px 200px;
	border-left: solid 1px #180D00;
	background: #885437;
}


haircentre1 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -40px;
	left: 50px;
	z-index: 4;
	width: 120px;
	height: 120px;
	transform: rotate(60deg) skew(40deg, 15deg);
	border-radius: 0 0 10px 100px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}

haircentre2 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -25px;
	left: 100px;
	z-index: 4;
	width: 80px;
	height: 100px;
	transform: rotate(58deg) skew(40deg, 15deg);
	border-radius: 0 0 10px 80px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}

haircentre3 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -20px;
	left: 47px;
	z-index: 3;
	width: 70px;
	height: 100px;
	transform: rotate(57deg) skew(35deg, 30deg);
	border-radius: 20px 20px 10px 20px;
	border: solid 1px #180D00;
	border-top: none;
	border-left: none;
	background: #E9BB8D;
}


hairright1 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -30px;
	right: 10px;
	z-index: 3;
	width: 70px;
	height: 200px;
	transform: rotate(-30deg) skew(-40deg, -15deg);
	border-radius: 0 0 200px 10px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}

hairright2 {
	box-sizing: border-box;
	display: block;
	position: absolute;
	bottom: 30px;
	right: -90px;
	z-index: 3;
	width: 150px;
	height: 150px;
	transform: rotate(70deg) skew(30deg, 30deg);
	border-radius: 0 80px 10px 100px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}


hairrightbg {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -30px;
	right: -70px;
	width: 200px;
	height: 160px;
	transform: rotate(25deg) skew(40deg, 15deg);
	border-radius: 0 0 10px 100px;
	border: solid 1px #180D00;
	background: #E9BB8D;
}

hairrightshadow {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 35px;
	right: -170px;
	z-index: -1;
	width: 300px;
	height: 300px;
	transform: rotate(35deg) skew(28deg, 28deg);
	border-radius: 0px 200px 20px 200px;
	border-left: solid 1px #180D00;
	background: #885437;
}

brow {
	display: block;
	position: absolute;
	z-index: 10;
	top: 55px;
	left: 20px;
	width: 230px;
	height: 30px;
	transform:rotate(-5deg);
}

browleft {
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: 35px;
	width: 30px;
	height: 30px;
	background: #DBAF84;
	transform: rotate(30deg) skew(-30deg, -50deg);
	border: solid 2px #5C321C;
}

browright {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: -5px;
	right: 25px;
	width: 40px;
	height: 40px;
	background: #DBAF84;
	transform: rotate(-35deg) skew(30deg, 50deg);
	border: solid 2px #5C321C;
}





eye {
	display: block;
	position: absolute;
	top: 100px;
	left: 10px;
	height: 90px;
	width: 260px;
	transform: rotate(-5deg);
	z-index: 2;
}

.half {
	position: absolute;
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	border: solid 4px #180D00;
	border-bottom: none;
	box-sizing: border-box;
}

eyeleft {
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	height: 80px;
	width: 80px;
}

.eyeleft1 {
	top: 32px;
	left: 32px;
	width: 16px;
	height: 8px;
}

.eyeleft2 {
	top: 40px;
	left: 32px;
	width: 32px;
	height: 16px;
	transform: rotate(180deg);
}

.eyeleft3 {
	top: 16px;
	left: 16px;
	width: 48px;
	height: 24px;
}

.eyeleft4 {
	top: 40px;
	left: 16px;
	width: 64px;
	height: 32px;
	transform: rotate(180deg);
}

.eyeleft5 {
	top: 0px;
	left: 0px;
	width: 80px;
	height: 40px;
}

eyeright {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 90px;
	height: 90px;
}

.eyeright1 {
	top: 40px;
	left: 36px;
	width: 18px;
	height: 9px;
	transform:rotate(90deg);
}

.eyeright2 {
	top: 44px;
	left: 14px;
	width: 36px;
	height: 18px;
	transform:rotate(-90deg);
}
.eyeright3 {
	top: 31px;
	left: 27px;
	width: 54px;
	height: 27px;
	transform:rotate(90deg);
}

.eyeright4 {
	top: 36px;
	left: -13px;
	width: 72px;
	height: 36px;
	transform:rotate(-90deg);
}

.eyeright5 {
	top: 23px;
	left: 18px;
	width: 88px;
	height: 45px;
	transform:rotate(90deg);
}



shadow {
	display: block;
	position: absolute;
	top: 160px;
	width: 300px;
	height: 90px;
	border-radius: 140px 30px 140px 50px/35px 30px 45px 20px;
	transform: rotate(3deg);
	background: #FFEDDC;
	overflow: hidden;
}

shadowleft {
	position: absolute;
	left: -20px;
	width: 150px;
	height: 60px;
	border-radius: 0 0 0 40px;
	transform: rotate(-27deg);
	background: #79B7D7;
}

shadowright {
	position:absolute;
	top: -24px;
	right: 0px;
	width: 200px;
	height: 90px;
	border-radius: 0 0 100px 0/0 0 50px 0;
	transform: rotate(15deg);
	background: #79B7D7;
}

ear {
	display: block;
	position: absolute;
	z-index: 3;
	float: right;
	top: 140px;
	right: -35px;
	width: 70px;
	height: 130px;
	transform: rotate(30deg);
	border-radius: 50px 50px 30px;
	background: #FFEDDC;
}

earshadow {
	display: block;
	position: relative;
	top: 52px;
	left: 2px;
	width: 0;
	height: 0;
	border: solid 30px transparent;
	border-bottom: solid 28px #BB8D7F;
	border-right: solid 28px #BB8D7F;
	transform: rotate(-60deg);
	border-radius: 25px;
}

mouth {
	display: block;
	position: absolute;
	bottom: 35px;
	left: 90px;
	height: 95px;
	width: 95px;
	transform:skew(10deg,0deg);
	border-radius: 5px 60px 10px 5px;
	background: #3C1112;
	overflow: hidden;
}

tongue {
	display: block;
	position: absolute;
	bottom: -10px;
	right: -5px;
	width: 90px;
	height: 55px;
	background: #DB9389;
	border-radius: 80px 10px 10px 0px/60px 10px 10px 0px;
}

neck {
	display: block;
	position: absolute;
	bottom: -40px;
	right: 20px;
	z-index: -1;
	width: 180px;
	height: 200px;
	background: #FFEDDC;
	transform: rotate(-20deg);
	border: solid 1px #180D00;
	overflow: hidden;
}

neckshadow {
	display: block;
	position: absolute;
	left: -20px;
	width: 200px;
	height: 150px;
	transform: rotate(-20deg);
	background: #B9907F;
}